<?xml version="1.0" encoding="utf-8"?>
<Media Key="a20454cf-51fc-4732-b612-f8c9fa6cc4db" Alias="Owain Codes" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OwainCodes</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-16T12:40:13</CreateDate>
    <NodeName Default="Owain Codes" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <colourFinder>
      <Value><![CDATA[]]></Value>
    </colourFinder>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [
    {
      "alias": "test",
      "width": 100,
      "height": 100,
      "coordinates": {
        "x1": 0.6405959499522637,
        "y1": 0.46949280847842545,
        "x2": 0.0072609416612230545,
        "y2": 0
      }
    }
  ],
  "src": "/media/icpeefev/initialslaptop.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>