<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e55f0ea6-50ab-473c-8297-5501e421b41f" Alias="Media Colour Finder" Level="1">
  <Info>
    <Name>Media Colour Finder</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Our.Community.MediaColourFinderV2</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>