<?xml version="1.0" encoding="utf-8"?>
<Content Key="a00fc893-8321-457f-b766-c1813655232d" Alias="Root" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Root</Path>
    <Trashed>false</Trashed>
    <ContentType>root</ContentType>
    <CreateDate>2025-11-16T19:46:35</CreateDate>
    <NodeName Default="Root" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="af257096-8c03-4554-b0dd-d913ccd907df">Root</Template>
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "11c4e631-c7bc-43a3-95a6-88713abb211d",
    "mediaKey": "a20454cf-51fc-4732-b612-f8c9fa6cc4db",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <title>
      <Value><![CDATA[sdas]]></Value>
    </title>
  </Properties>
</Content>