<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e14d7478-bea1-498a-90e4-2e38f97fec8c" Alias="Media Colour Picker" Level="1">
  <Info>
    <Name>Media Colour Picker</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>WildSiteCreations.PropertyEditorUi.MediaColorFinder</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>